<!DOCTYPE html>
<html lang="en" class="bg-gray-200">
<head>
  <%- include('utils/Head') %>
</head>
<body class="flex flex-col h-screen">
    <%- include('utils/NavBar') %>
    <div class="flex flex-grow flex-col justify-center items-center">
        <h1>Your account data</h1>
        <div class="text-center h-72 flex flex-col justify-center w-96 mb-10">
            <img src={user.picture} alt='Profile photo'/>
            <h1><%= user.name %></h1>
            <p><%= user.email %></p>
        </div>

        <h1>Your statistics</h1>
        <div>
            <p><%= serverData %></p>
        </div>
    </div>
    <%- include('utils/Footer') %>
</body>