<!DOCTYPE html>
<html lang="en" class="bg-gray-200">
<head>
  <%- include('utils/Head') %>
</head>
<body class="flex flex-col h-screen">
    <%- include('utils/NavBar') %>
    <div class="flex flex-grow flex-col justify-center items-center">
        <div class="my-16 text-center flex flex-col justify-center items-center">
            <h1 class="mb-10 text-2xl">Your account data</h1>
            <div class="flex flex-col justify-center items-center">
                <div class="flex flex-row justify-start items-center">
                    <img src=<%= user.picture %> alt='Profile photo' class="h-16 w-16"/>
                    <h1><%= user.name %></h1>
                </div>
                <p>Email: <%= user.email %></p>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center">
            <h1 class="mb-10 text-2xl">Your statistics</h1>
            <p>Most searched up: <b><%= serverData %></b></p>
        </div>
    </div>
    <script type="module" src="js/profile.js"></script>
    <%- include('utils/Footer') %>
</body>